<div class="col-md-12 mt-3">
    <h1>{{page_title}}</h1>
    <hr>
    <div *ngIf="status == 'success'" class="alert alert-success col-md-5 mt-3">
        Te has registrado correctamente <a [routerLink]="['/login']">Identifícate aquí</a>
    </div>
    <div *ngIf="status == 'error'" class="alert alert-danger col-md-5 mt-3">
        No te has registrado correctamente
    </div>
    <form class="col-md-5 ml-0 pl-0" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-z]+">
            <span *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">El nombre no es válido</span>
        </div>
        <div class="form-group">
            <label for="surname">Apellido</label>
            <input type="text" class="form-control" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-z]+">
            <span *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">El apellido no es válido</span>
        </div>
        <div class="form-group">
            <label for="email">Correo</label>
            <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" required>
            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">El correo no es válido</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password" required pattern="[a-zA-z]+">
            <span *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">El password no es válido</span>
        </div>
        <input type="submit" value="{{page_title}}" class="btn btn-success" [disabled]="registerForm.invalid">
    </form>
</div>