<div class="col-md-12" *ngIf="!video">
    ...cargando
</div>
<div class="col-md-12 mt-3" *ngIf="video">
    <h1>{{video.title}}</h1>
    <hr>
    <p>
        <iframe [src]="getVideoIframe(video.url)" width="560" height="315" frameborder="0" allow="accelerometer; autoplay, encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
    <span class="badge badge-secondary">{{ video.user.name + ' ' + video.user.surname}}</span>
    <p [innerHtml]="video.description"></p>
</div>
